*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
header{
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header header h1{
    position: absolute;
    top: 13px;
    left: 40px;
    font-size: 20px;
}
.header header nav{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}
.header header img{
    position: absolute;
    width: 200px;
    height: 30px;
    display: none;
}
.header header nav ul{
        display: inline-block;
}
.header header nav ul li{
        display: inline-block;
}
.header header nav ul a{
        display: inline-block;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.bg img{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 1000px;
}
.form{
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 5px;
}